body {
    background-image: url("Backgroundimg.jpg");
    background-size: cover;
}

h1{
    color:white;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
   
}

#listButton{
    border: 5px solid ridge;
    margin-left: 670px;
    margin-top: 50px;
}

#button{
background-color:grey; /* Green */
  border: none;
  color:black;
  font-weight: bolder;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: cursive;
  border-radius: 10px;
}

#button {
    transition-duration: 0.4s;
  }
  
  #button:hover {
    background-color: #4CAF50; 
    color: white;
  }

  table{
      border:8px solid white;
      background-color: rgba(0,0,0,.84);
      font-family: cursive;
      font-size: 19px;
      color: white;
      position: absolute;
      left:390px;
      top:150px;
  }

  th{
      border:2px solid white;
      color:red;
  }

  td{
    border:2px solid white;
  }